#app-mount #bd-customcss-detach-container,
#app-mount .ace-monokai,
#app-mount .attachment-33OFj0,
#app-mount .avatar-VxgULZ:before,
#app-mount .bda-slist li,
#app-mount .card-3DjzTQ,
#app-mount .card-7JP0BX,
#app-mount .card-FDVird:before,
#app-mount .cardPlaceholder-1zrbbe,
#app-mount .categoryFade-2ybR1J,
#app-mount .changeDetails-bk98pu,
#app-mount .channelSeparator-1X1FuH .channelName-1QajIf,
#app-mount .codeRedemptionRedirect-1wVR4b,
#app-mount .container-2oTpPc,
#app-mount .container-2Zlzt0,
#app-mount .container-3gCOGc,
#app-mount .ctaBar-2UsjF2,
#app-mount .embedInner-1-fpTo,
#app-mount .emptyApplications-3GTmw-,
#app-mount .emptyCard-3CNsz2,
#app-mount .emptyUsers--hiToV,
#app-mount .expandedInfo-3kfShd,
#app-mount .focused-2bY0OD,
#app-mount .footer-3rDWdC,
#app-mount .gemIndicatorContainer-2jdECl,
#app-mount .guildGraphicBackground-UDBjuF,
#app-mount .guildGraphicContainer-39I_Pl,
#app-mount .guildIconImage-3qTk45,
#app-mount .header-1RC2Wb,
#app-mount .header-ykumBX,
#app-mount .headerClickable-2IVFo9,
#app-mount .headerDefault-1wrJcN,
#app-mount .headerExpanded-CUEwZ5,
#app-mount .info-3UT5_W,
#app-mount .inset-GQDQYw,
#app-mount .invite-18yqGF,
#app-mount .lookFilled-1h1y05.select-1Pkeg4,
#app-mount .messageGroupWrapper-o-Zw7G,
#app-mount .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug,
#app-mount .news-2KwXHF,
#app-mount .notDetected-33MY4s,
#app-mount .option-1l2vXE,
#app-mount .paginator-166-09,
#app-mount .paginator-2CA79G,
#app-mount .payment-xT17Mq,
#app-mount .paymentPane-3bwJ6A,
#app-mount .perk-2WeBWW,
#app-mount .perksModal-fSYqOq,
#app-mount .placeholderWrapper-3FaLtZ,
#app-mount .recentlyPlayedContainer-2F3MqS,
#app-mount .root-1BQpZw,
#app-mount .searchHeader-1l-wpR,
#app-mount .searchResultsWrap-2DKFzt,
#app-mount .sidebar-1-SQro,
#app-mount .tierBody-16Chc9,
#app-mount .tierHeaderLocked-1s2JJz,
#app-mount .tile-2OwFgW,
#app-mount .tile-QA_yMc,
#app-mount .tileMedia-1q3guD,
#app-mount .tiles-2aXG_k,
#app-mount .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC,
#app-mount .wrapper-29NfPK,
#app-mount .wrapper-2TxpI8,
#app-mount .wrapper-3UweLa,
#app-mount .wrapperAudio-1jDe0Q,
#dv-mount,
#permissions-modal-wrapper .role-side,
.accountBtn-2Nozo3 .accountBtnInner-sj5jLs,
.activity-11LB_k,
.activityFeed-1C0EmJ,
.akaBadge-1M-1Gw,
.animatedContainer-1pJv5C,
.app-2rEoOp,
.applicationStore-1pNvnv,
.bd-modal-wrapper .tab-bar-container,
.bg-h5JY_x,
.cardWrapper-2Min21,
.cardPrimary-1Hv-to,
.cardPrimaryEditable-3KtE4g,
.checkboxMute-14hTGS:before,
.childWrapper-anI2G9,
.circleIconButton-jET_ig,
.citar-btn,
.container-2XeR5Z,
.container-cMG81i,
.container-PNkimc,
.contentRegionScroller-26nc1e,
.css-1gnr91b-option,
.detailsBlock-FoDTGA,
.dragInner-_SHftW,
.embedFull-2tM8--,
.emojiPicker-3m1S-j .categories-1feg4n,
.empty-hejAOj,
.expandedFolderBackground-2sPsd-,
.folder-21wGz3,
.folder-21wGz3.hover-2ji_A7,
.gameLibrary-TTDw4Y,
.guildHeader-3nh5RK,
.guildSubscriptionSlots-JPXXvN,
.header-GwIGlr,
.headerFill-adLl4x,
.html5-video-player.ad-interrupting,
.html5-video-player.ended-mode,
.html5-video-player.unstarted-mode,
.html5-video-player.ytp-fullscreen,
.html5-video-player:not(.ytp-transparent),
.infoBar-U6oBFk,
.input-cIJ7To,
.itemBackground-2vEldQ,
.markup-2BOw-j pre,
.memberGroupsPlaceholder-3mwPub,
.members-1998pB,
.messageGroupBlocked-3wrQQX,
.messageGroupBlockedBtn-1PBBh-:hover,
.mulitplePlaceholderUsername-pogq9I,
.outer-2IVh5n,
.panels-j1Uci_,
.placeholderAvatar-damqh6,
.placeholderUsername-2B_OA9,
.privateChannels-1nO12o,
.scroller-305q3I,
.scroller-5bBood,
.scrollableContainer-38zsVD,
.searchBar-3dMhjb,
.searchBar-6Kv8R2 .searchBarComponent-32dTOx,
.theme-brand .inner-zqa7da,
.unwrapped-37iUtM,
.uploadModal-2ifh8j .footer-3mqk7D,
.userSettingsVoice-iwdUCU .media-engine-video,
.video-1FfuMD,
.video-1kutKI,
.wrapped-15rg6t,
.wrapper-1cBijl,
.wrapper-1prNyd,
.wrapper-1Rf91z,
.wrapper-39oAo3,
.ytp-error.ytp-related-on-error {
	background-color: transparent;
}
#app-mount #MemberCount,
#app-mount .ace-monokai .ace_gutter,
#app-mount .ace-monokai .ace_marker-layer .ace_active-line,
#app-mount .applicationStore-1pNvnv .scroller-9moviB,
#app-mount .BDFDB-modal .tabBarContainer-1s1u-z,
#app-mount .chat-3bRxxu .messages-3amgkR,
#app-mount .friendsTable-133bsv .friendsTableBody-1ZhKif,
#app-mount .gameLibrary-TTDw4Y .scroller-1IIF0A,
#app-mount .layer-3QrUeG,
#app-mount .layout-1cQCv2,
#app-mount .messagesPopout-24nkyi,
#app-mount .or-3THJsp,
#app-mount .pageWrapper-1PgVDX,
#app-mount .privateChannels-1nO12o .scroller-1JbKMe,
#app-mount .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece,
#app-mount .searchResult-3pzFAB:before,
#app-mount .tier1Banner-1B_WXY,
#app-mount .video-1FfuMD.noChat-3nt48u .videoTop-eOkSPq,
#app-mount .video-1FfuMD.normal-1jW0uq .videoTop-eOkSPq,
#app-mount .wrapper-1Rf91z .scroller-2TZvBN,
#app-mount .wrapper-35wsBm,
#bd-customcss-detach-container #bd-customcss-attach-controls,
.bannerImage-1jOskm:before,
.bd-detached-css-editor #bd-customcss-attach-controls button,
.chat-3bRxxu,
.container-1r6BKw.themed-ANHk51,
.contentRegion-3nDuYy,
.contentRegion-3nDuYy #bd-customcss-attach-controls,
.isLocalBot-38G0P0,
.itemBackground-2vEldQ:before,
.miniPlayer-3Ms77e .videoControls-3glNbo,
.reaction-1ELvT8,
.root-25RxKh,
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button,
.sidebar-2K8pFh,
.sidebarRegion-VFTUkN,
.sidebarRegionScroller-3MXcoP,
.standardSidebarView-3F1I7i,
.videoControls-3glNbo {
	background: transparent;
}
#app-mount .action-1lSjCi,
#app-mount .attachment-33OFj0,
#app-mount .auditLog-3jNbM6,
#app-mount .base-34jWEe,
#app-mount .bda-slist .bda-footer,
#app-mount .bda-slist .bda-header,
#app-mount .bda-slist li,
#app-mount .body-3iLsc4,
#app-mount .border-2AhmKo,
#app-mount .bottomDivider-1K9Gao,
#app-mount .BSP-pagination-button,
#app-mount .card-FDVird:before,
#app-mount .categoryHeader-1D7Tqy,
#app-mount .codeRedemptionRedirect-1wVR4b,
#app-mount .colorPickerSwatch-5GX3Ve.noColor-1pdBDm,
#app-mount .divider-3wNib3,
#app-mount .embedInner-1-fpTo,
#app-mount .emptyApplications-3GTmw-,
#app-mount .emptyUsers--hiToV,
#app-mount .footer-1fjuF6,
#app-mount .friendsTable-133bsv .friendTableAddWrapper-nHHZtK .friendTableAddHeader-m9bzFr,
#app-mount .invite-18yqGF,
#app-mount .item-3T2z1R,
#app-mount .keybindShortcut-1BD6Z1 span,
#app-mount .lookFilled-1h1y05.select-1Pkeg4,
#app-mount .lookOutlined-3sRXeN.colorPrimary-3b3xI6,
#app-mount .messageGroupWrapper-o-Zw7G,
#app-mount .modalSubtitle-1Pj5nv,
#app-mount .multiInputLast-1aQ3YA:before,
#app-mount .overridePlaceholder-14_rPI,
#app-mount .pageButtonNext-V2kUq0,
#app-mount .pageButtonPrev-1Y-47D,
#app-mount .pageIndicator-1gAbyA,
#app-mount .pagination-eQpqgk .paginationNext-3Tefao,
#app-mount .pagination-eQpqgk .paginationPrevious-4Yw0Tk,
#app-mount .paymentHeader-3QlZQi,
#app-mount .popout-2sKjHu,
#app-mount .premiumApplicationsHeader-Zmkm5e,
#app-mount .queryContainer-RKFJW-,
#app-mount .quickMessage-1yeL4E,
#app-mount .recentlyPlayedContainer-2F3MqS,
#app-mount .regionSelect-3lf4eE:hover .regionSelectInner-24f4Ce,
#app-mount .resultsGroup-r_nuzN:before,
#app-mount .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
#app-mount .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece,
#app-mount .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb,
#app-mount .searchHeader-1l-wpR .tab-2Ixsn0.selected-16te-P,
#app-mount .searchHeader-1l-wpR .tab-2Ixsn0:hover,
#app-mount .searchResult-3pzFAB .hit-NLlWXA,
#app-mount .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA,
#app-mount .searchResult-3pzFAB.expanded-v2Szsz,
#app-mount .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC,
#app-mount .wrapper-35wsBm,
#app-mount .wrapperAudio-1jDe0Q,
#bd-settingspane-container .ui-switch-item .style-description,
#bda-qem button,
#bd-customcss-detach-container #bd-customcss-attach-controls,
#dv-main,
.attachWrapper-1_D-pj,
.avatar-21196O,
.bd-modal-wrapper .bd-modal-inner,
.bd-modal-wrapper .error,
.bd-modal-wrapper .tab-bar-container .tab-bar-item,
.bd-modal-wrapper .table-header,
.BDFDB-select .css-15ejc46-control,
.BDFDB-select .css-ua3v5p-menu,
.cardPrimary-1Hv-to,
.cardPrimaryEditable-3KtE4g,
.cardPrimaryOutline-29Ujqw,
.channelTextArea-rNsIhG,
.connectedAccount-36nQx7,
.connectionHeader-2MDqhu,
.container-1giJp5,
.container-1nZlH6,
.contentRegion-3nDuYy #bd-customcss-attach-controls,
.css-13kbzi0-control,
.css-15ejc46-control,
.css-181m2lf-menu,
.css-1rckt42-menu,
.css-1yegjoj-control,
.css-2yldzf-control,
.css-ncjuf0-control:hover,
.embedImage-2W1cML,
.embedThumbnail-2Y84-K,
.embedVideo-3nf0O9,
.emojiPicker-3m1S-j,
.emojiPicker-3m1S-j .header-1nkwgG,
.featureBorder-7j4v58,
.finePrint-ULGqdp,
.form-2fGMdU,
.friendsTable-133bsv .friendsRow-2yicud+.friendsRow-2yicud,
.friendsTable-133bsv .friendsTableHeader-32yE7d,
.friendsTable-133bsv .friendsTableHeader-32yE7d .friendsColumn-eVHFqJ,
.guildsSection-3AvK09,
.guildSubscriptionSection-122NwR,
.guildSubscriptionSlot-1XGRPI,
.input-cIJ7To,
.itemGroup-1tL0uz,
.lookOutlined-3sRXeN.colorWhite-rEQuAQ,
.markup-2BOw-j pre,
.regionSelect-3lf4eE .regionSelectInner-24f4Ce,
.regionSelect-3lf4eE button,
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3:not(:hover),
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
.subscriptionDetails-16jcwU,
.tabBarContainer-1s1u-z,
.themedPopout-1TrfdI .footer-1K57q_,
.tipsWithoutResults-lGY-De,
.tipsWithResults-HhTE9b,
.top-28JiJ- .item-PXvHYJ,
.topSectionNormal-2-vo2m .tabBarContainer-1s1u-z,
.uploadModal-2ifh8j .inner-3nWsbo,
.userInfoSection-2acyCx+.userInfoSection-2acyCx,
.wrapper-1cBijl {
	border: none;
}
#app-mount #bd-customcss-detach-container #bd-customcss-attach-controls,
#app-mount .action-1lSjCi,
#app-mount .bannedUser-1IalTM,
#app-mount .BDFDB-modal .tabBarContainer-1s1u-z,
#app-mount .contentRegion-3nDuYy #bd-customcss-attach-controls,
#app-mount .footer-3mqk7D,
#app-mount .footer-3rDWdC,
#app-mount .header-1TOWci,
#app-mount .header-ykumBX,
#app-mount .installationPath-24giJj,
#app-mount .inviteSettingsInviteRow-3p2O-N,
#app-mount .item-3eFBNF,
#app-mount .keybindShortcut-1BD6Z1 span,
#app-mount .member-1q7VfX,
#app-mount .message-2qRu38,
#app-mount .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug,
#app-mount .popout-3G62UL,
#app-mount .quickSelectPopout-u2dtIf,
#app-mount .reactorDefault-1IUqMZ,
#app-mount .regionSelect-3lf4eE:hover,
#app-mount .regionSelect-3lf4eE:hover button,
#app-mount .row-2okwlC,
#app-mount .searchBox-3Y2Vi7,
#app-mount .searchHeader-1l-wpR,
#app-mount .searchResult-3pzFAB .hit-NLlWXAs,
#app-mount .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA,
#app-mount .separator-3gy7tq,
#app-mount .spoilerContainer-331r0R.hidden-HHr2R9:not(:focus),
#app-mount .tile-QA_yMc,
#app-mount .tileMedia-1q3guD,
#app-mount .tiles-2aXG_k,
#app-mount .video-1FfuMD.noChat-3nt48u .videoBackgroundTransition-3wpOSl,
#app-mount .wrapper-9ppXpy,
#bda-qem button,
#permissions-modal-wrapper .header,
#permissions-modal-wrapper .perm-item,
.animatedContainer-1pJv5C,
.bd-modal-wrapper .bd-modal-inner,
.bd-modal-wrapper .header,
.bd-modal-wrapper .tab-bar-container,
.bd-toast,
.card-3DjzTQ,
.channelNotice-3hkOiI,
.container-19hC9u:before,
.container-1r6BKw.themed-ANHk51,
.container-2x5lvQ,
.container-3T1zWi:before,
.content-yTz4x3::before,
.css-181m2lf-menu,
.css-1rckt42-menu,
.css-1wqqa50-container,
.emojiPicker-3m1S-j .header-1nkwgG,
.friendsTable-133bsv:before,
.header-2o-2hj,
.imageStack-2r0kGy,
.matureListing-3tyHbV:before,
.notificationsSound-27jFSh,
.popout-2iWAc-,
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3,
.result-3w1ZcL,
.result-3w1ZcL:after,
.themedPopout-1TrfdI .header-2Kf7Yu+:after,
.toast,
.userPopout-3XzG_A {
	box-shadow: none;
}
#app-mount #bd-settings-sidebar .ui-tab-bar-separator,
#app-mount .channelSeparator-1X1FuH:before,
#app-mount .checkboxContainer-2vV9zd:before,
#app-mount .content-3CCvMx:before,
#app-mount .divider-1pnAR2,
#app-mount .divider-1que2t,
#app-mount .divider-23swzi,
#app-mount .divider-3WKGWk,
#app-mount .footerSeparator-M9dQY1,
#app-mount .keybindShortcutTipsSelect-HDyfe8:last-of-type:before,
#app-mount .searchResult-3pzFAB:after,
#app-mount .sectionSeparator-2OWiNT,
#app-mount .separator-2c4hi3,
.attachButtonDivider-3Glu60,
.bd-guild:not(.bd-unread) .pill-31IEus,
.children-19S4PO:after,
.container-xm7Ad0:before,
.divider-25_-sM,
.divider-32i8lo,
.divider-3573oO,
.divider-3FBTu8,
.divider-3ZGpsB,
.divider-J3ken9,
.gradientOverlayLeft-3w159C,
.gradientOverlayRight-3vMuS8,
.guildSeparator-3s64Iy,
.isMentionedCozy-3isp7y:after,
.pill-1m5BUr,
.pill-2uzAFe,
.pill-3YxEhL,
.separator-2IZ9ro,
.separator-2zcjq8,
.side-8zPYf6 .separator-gCa7yv,
.wrapper-21YSNc .pill-31IEus {
  display: none;
}
.dividerContent-2L12VI:after,
.dividerContent-2L12VI:before {
	visibility: hidden;
}
.ytp-unmute.ytp-popup {
	color: transparent;
}
.circleBackgroundAlt-Eohdst {
	fill: transparent;
}
/* Scrollers */
#app-mount .ace_scrollbar-v::-webkit-scrollbar-thumb,
#app-mount .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
#app-mount .scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scroller-2FKFPG::-webkit-scrollbar-thumb,
#app-mount .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb,
#permissions-modal-wrapper *::-webkit-scrollbar-thumb,
.member-perms::-webkit-scrollbar-thumb,
.note-QfFU8y .scrollbarGhostHairline-1mSOM1::-webkit-scrollbar-thumb,
.note-3HfJZ5 .scrollbarGhostHairline-1mSOM1::-webkit-scrollbar-thumb,
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb,
.textArea-2Spzkt.scrollbarGhostHairline-1mSOM1::-webkit-scrollbar-thumb {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgb(91, 187, 255), rgba(0, 0, 0, 0));
}
#app-mount .ace_scrollbar-v::-webkit-scrollbar-track,
#app-mount .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-track,
#app-mount .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
#app-mount .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track,
#app-mount .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track,
#app-mount .scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scroller-2FKFPG::-webkit-scrollbar-track,
#app-mount .scrollerThemed-2oenus.themeGhostHairlineChannels-3G0x9_ .scroller-2FKFPG::-webkit-scrollbar-track,
#app-mount .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track,
#app-mount .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
#app-mount .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track,
#permissions-modal-wrapper *::-webkit-scrollbar-track,
.member-perms::-webkit-scrollbar-track,
.note-QfFU8y .scrollbarGhostHairline-1mSOM1::-webkit-scrollbar-track,
.note-3HfJZ5 .scrollbarGhostHairline-1mSOM1::-webkit-scrollbar-track,
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-track,
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track,
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track,
.textArea-2Spzkt.scrollbarGhostHairline-1mSOM1::-webkit-scrollbar-track {
    background: linear-gradient(0deg, rgba(91, 187, 255, 0.4) 0%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 95%, rgba(91, 187, 255, 0.4) 100%);
}
.scrollerFade-1Ijw5y .scroller-2FKFPG::-webkit-scrollbar-thumb,
.scrollerFade-1Ijw5y .scroller-2FKFPG::-webkit-scrollbar-track {
	visibility: visible;
}
.scroller-2FKFPG::-webkit-scrollbar {
	max-width: 9px;
}
#permissions-modal-wrapper *::-webkit-scrollbar,
.member-perms::-webkit-scrollbar {
	max-width: 5px;
}
.wrapper-1Rf91z .scrollerWrap-1IAIlv {
    width: 75px;
}
#app-mount .ace_scrollbar-h::-webkit-scrollbar-thumb,
.scrollbarGhostHairline-1mSOM1::-webkit-scrollbar-thumb {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgb(91, 187, 255), rgba(0, 0, 0, 0));
}
#app-mount .ace_scrollbar-h::-webkit-scrollbar-track,
.scrollbarGhostHairline-1mSOM1::-webkit-scrollbar-track {
	background: linear-gradient(90deg, rgba(91, 187, 255, 0.4) 0%, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0) 95%, rgba(91, 187, 255, 0.4) 100%);
}
.scrollbarGhostHairline-1mSOM1::-webkit-scrollbar {
    height: 7px;
}
#app-mount .ace_scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
/* Mentions */
#app-mount .isMentioned-N-h9aa {
	background: linear-gradient(90deg, rgba(91, 187, 255, 0.4) 0%, rgba(0, 0, 0, 0) 70%);
}
.numberBadge-2s8kKX,
.mention-1f5kbO {
	background-color: rgba(91, 187, 255, 0.7) !important;
	animation: unread 3s ease-out infinite;
}
.container-3gCOGc .tabBar-1E2ExX .item-3HpYcP .badge-xFJoEU {
	animation: none;
}
/* New Messages */
.new-messages-indicator {
    background: linear-gradient(90deg, black, rgb(91, 187, 255), black) !important;
}
.dividerRed-MKoLlr {
	color: rgb(41, 137, 216);
	animation: mentions 3s infinite;
}
.dividerContent-2L12VI {
	color: rgb(41, 137, 216);
}
.divider-3gKybi+.divider-3gKybi {
	display: block;
}
.wrapper-1ucjTd:hover:not(.modeMuted-3osy7j) .content-3at_AU .icon-1_QxNX {
	color: var(--interactive-active);
}
#app-mount .wrapper-1ucjTd.modeUnread-1zpFdA .name-3_Dsmg,
#app-mount .modeUnread-1zpFdA .icon-1_QxNX,
.nameUnreadText-DfkrI4,
.nameUnreadVoice-EVo-wI {
	color: rgba(91, 187, 255, 0.7);
}
/* Emojis */
}#bda-qem,
.emojiPicker-3m1S-j,
.emojiPicker-3m1S-j .category-2U57w6 {
	background-color: #2f3136;

}
.emojiPicker-3m1S-j .stickyHeader-1SS0JU {
	opacity: 1;
}
#bda-qem {
	border: none !important;
}
/* Emojis */
.emoji.jumboable,
.customStatus-1bh2V9 .customStatusEmoji-7MXCgv.customStatusSoloEmoji-XOvnMc {
	width: 2rem;
	height: 2rem;
	min-height: 2rem;
}
/* Embed */
.embedFieldName-NFrena,
.embedFooterText-28V_Wb {
	color: var(--header-primary);
}
/* Gif picker */
.result-3w1ZcL,
.result-3w1ZcL:after {
	background-color: transparent !important;
}
/* Quote Block */
.blockquoteDivider-2hH8H6 {
		background: rgb(41, 137, 216);
		border-color: rgb(41, 137, 216);
}
/* Multiline Codeblock */
.markup-2BOw-j code {
	background-color:  rgba(91, 187, 255, 0.2);
	border: 1px solid rgba(91, 187, 255, 0.4);
	border-radius: 5px;
}
.hljs-comment, .hljs-quote {
	color: #AAA;
}
/* Inline Codeblock */
#app-mount #bd-customcss-attach-controls .help-text .inline,
.markup-2BOw-j code.inline {
	background:  rgba(1, 97, 165);
}
/* Custom Status */
.subText-1KtqkB strong {
	filter: sepia(1);
}
/* User playing popout */
.news-2KwXHF .background-VmeaHL {
	-webkit-mask: none;
	mask: none;
}
/* Textbar mentioning */
.selector-2IcQBU {
	padding: 0;
}
#app-mount .content-Qb0rXO,
#app-mount .contentTitle-2tG_sM {
	padding: 8px;
}
/* Jump to Present Bar */
.jumpToPresentBar-9P20AM {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(91, 187, 255, 0.4), rgba(0, 0, 0, 0.4));
}
/* Text Input */
.scrollableContainer-38zsVD {
	margin-right: -12px;
}
/* Text Input Enabled */
.scrollableContainer-38zsVD {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.4), rgba(91, 187, 255, 0.4), rgba(0, 0, 0, 0.4));
	padding-right: 12px;
}
/* Text Input Disabled */
.innerDisabled-2mc-iF {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(91, 187, 255, 0.2), rgba(0, 0, 0, 0.2));
	padding-right: 12px;
}
/* Unread Messages Bar Channel Scroller */
.unread-1xRYoj {
	background-color: rgba(91, 187, 255, 0.7);
	animation: unread 3s ease-out infinite;
}
/* Voice Guild Icon */
.iconBadge-2wi9r4 {
	background-color: rgb(41, 137, 216);
}
/* Selected Text and Direct Message Channels as well as Settings and Friends Tabs */
#app-mount #bd-settings-sidebar .ui-tab-bar-item.selected,
.modeSelected-1zApJ_ .content-3at_AU,
.selected-aXhQR6 .layout-2DM8Md,
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ,
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(41, 137, 216, 0.4));
}
/* Hovered Text and Direct Message Channels as well as Members in the Member List, Settings Tabs, and Friends Tabs */
#app-mount #bd-settings-sidebar .ui-tab-bar-item:hover,
.clickable-1JJAn8:hover .layout-2DM8Md,
.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover,
.topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover,
.wrapper-1ucjTd:hover .content-3at_AU {
	background: linear-gradient(90deg, rgba(91, 187, 255, 0.6), rgba(0, 0, 0, 0));
}
/* Selected Text Channel and Direct Message Hovered as well as Settings and Friends Tabs */
#app-mount #bd-settings-sidebar .ui-tab-bar-item.selected:hover,
.modeSelected-1zApJ_:hover .content-3at_AU,
.selected-aXhQR6 .layout-2DM8Md:hover {
	background: linear-gradient(90deg, rgba(91, 187, 255, 0.6), rgba(41, 137, 216, 0.4));
}
/* Selected and Hovered Settings Tab */
.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover,
.topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover {
	background: linear-gradient(90deg, rgba(91, 187, 255, 0.6), rgba(41, 137, 216, 0.4));
}
/* Server Boost Page */
.tierWrapper-W9ajqp {
	box-shadow: none !important;
}
/* Server Folders */
.folderIconWrapper-226oVY {
	background-color: transparent !important;
}
.expandedFolderBackground-2sPsd-:not(.collapsed-1GMuSb) {
	box-shadow: 0 0 0 1px rgb(91, 187, 255);
}
/* Unread Messages Bar Channel Scroller */
#app-mount .unread-3zKkbm {
	background: rgba(91, 187, 255, 0.7);
	animation: unread 3s ease-out infinite;
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  left: 60%;
}
/* Guild pill shows only when unread */
.bd-guild:not(.bd-unread) .pill-31IEus,
.wrapper-21YSNc .pill-31IEus {
	display: none;
}
.bd-unread .pill-31IEus .item-2hkk8m,
.pill-31IEus .item-2hkk8m {
	background: rgba(91, 187, 255, 0.7);
	width: 15px;
	height: 15px !important;
	position: absolute;
	z-index: 1;
	left: 15px;
	bottom: 0;
	border-radius: 50%;
	animation: unread 3s ease-out infinite;
}
.wrapper-sa6paO {
  overflow: visible;
}
/* Profile pop-out Header */
.activity-11LB_k {
	padding-top: 0;
}
.headerTop-3C2Zn0 {
	padding: 10px;
}
/* Profile's Focused Note, and Quick Direct Message */
.note-3kmerW textarea:focus,
#app-mount .quickMessage-1yeL4E {
	background-color: var(--background-secondary);
}
/* Profile */
.activity-1ythUs {
	padding-top: 0;
}
/* Mutual Guilds and Mutual Friends */
.listRow-hutiT_:hover {
	background: linear-gradient(90deg, rgba(91, 187, 255, 0.6), rgba(0, 0, 0, 0));
}
/* Upload Modal */
.uploadModal-2ifh8j .inner-3nWsbo {
	margin: 0;
}
/* Tooltips */
#app-mount .tooltipBlack-PPG47z,
#app-mount .tooltipGrey-1hnvTt {
	background: linear-gradient(270deg,#92aae2,#7373f5);
}
#app-mount .tooltipBlack-PPG47z .tooltipPointer-3ZfirK,
#app-mount .tooltipGrey-1hnvTt .tooltipPointer-3ZfirK {
	border-top-color: #7289da;
}
/* Toasts */
.bd-toast,
.toast {
	background-color: #677bc4;
}
/*Server Discovery*/
.sectionHeader-1Hee-5,
.mainHeader-1i17pL,
.pageButton-MknE-_, .pageControl-1aUwvK {
	color: white;
}
.splash-3N0nhD foreignObject {
  mask: none;
}
.medium-2-DE5M .input-1Rv96N,
.medium-2-DE5M .tag-2gHSR7 {
	color: var(--text-muted);
}
/* Makes Compact Timestamps visible when not hovered */
.timestampVisibleOnHover-276OMc {
    color: var(--text-muted);
}
/* Citador Plugin */
.citar-btn {
	display: inline-block;
	transform: rotate(180deg);
	margin: 0;
  padding: 7px 10px;
}
/* Devil Bro Plugin Update Fix */
.bd-modal-wrapper .bd-modal-inner {
    background-color: black;
}
/* Copy Image Plugin */
.inner-1ilYF7 [style="margin: 0px 5px;"] {
	visibility: hidden;
}
/* Copy Image Plugin Fix */
.inner-1ilYF7 {
    display: block;
}
/* Send Button Plugin */
.send-button {
    right: -2px;
}
/* Custom CSS Tab */
.bd-detached-css-editor #bd-customcss-attach-controls button,
.standardSidebarView-3F1I7i #bd-customcss-attach-controls button {
	border: none !important;
}
#app-mount .ace-monokai .ace_gutter-active-line {
	background: linear-gradient(270deg, rgba(91, 187, 255, 0.6), rgba(0, 0, 0, 0));
}
/* Watermark */
#bd-settings-sidebar::after {
	content: "Clear_Discord v1.0.0";
	max-width: 220px;
	color: white;
	margin-left: 5%;
	font-family: inherit;
}
/* =================================================================================================== */
@keyframes unread {
    0%{opacity: 0.3;}
    50%{opacity: 1;}
    100%{opacity: 0.3;}
}
@keyframes mentions {
    0%{border: 1px solid rgba(41, 137, 216, 0);}
    10%{border: 1px solid rgb(41, 137, 216);}
    20%{border: 1px solid rgb(51, 147, 226);}
    30%{border: 1px solid rgb(81, 177, 255);}
    40%{border: 1px solid rgb(101, 197, 255);}
    50%{border: 1px solid rgba(101, 197, 255, 0);}
    100%{border: 1px solid rgba(41, 137, 216, 0);}
}
/* =================================================================================================== */
html:not([lang])::after {
    content: url(https://icon-library.net/images/deviantart-logo-icon/deviantart-logo-icon-4.jpg);
    pointer-events: none;
    position: absolute;
    opacity: 0.5;
    top: 50%;
		left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
		z-index:101;
}
